@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rc-table-custom table {
    width: 100%;
  }

  li.js-li {
    display: inline-block;
    padding: 7px;
    font-size: 18px;
  }

  li.js-li.active {
    color: white;
    font-weight: 700;
    background: purple;
    border-radius: 6px;
  }

  ul.js-ul {
    margin-top: 12px;
    text-align: right;
  }

  .pure-modal .panel-heading {
    @apply bg-purple-600 !important;
  }

  p.product-title {
    margin-top: 0px !important;
  }
}