// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
/*
 * Dashboard
 */

header {
  padding: 30px 0;
}

section {
  padding: 30px 0;
}

.has-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show > .dropdown-menu {
  display: block;
}